<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="index.html" class="current-page"> Home </a>  
            
                <a href="login.html"> Login/Register </a>  
           
                <a href="product.html"> Beers </a>  
            </nav>
        </header>
        <div class="main-container">
            <h2 class="title">Madsen Creek Home Brewing</h2>
            <div class="container" style="display: flex;">
                <div class="text">
                    <h3>About Us</h3>
                    <p>
                        
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque minima id omnis unde error atque eveniet assumenda officiis exercitationem. Placeat numquam necessitatibus explicabo harum officiis quasi ipsa voluptatibus repellat maxime.
                    </p>

                </div >
                <div class="text">
                    <h3>Our Story</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque minima id omnis unde error atque eveniet assumenda officiis exercitationem. Placeat numquam necessitatibus explicabo harum officiis quasi ipsa voluptatibus repellat maxime.
                    </p>
                </div>
                
            </div>
            <br><br>
            <div class="container">
                <p>Check out this video if you want to learn to brew at home!</p>
                <iframe width="450" height="300" src="https://www.youtube.com/embed/Voi7kOKxoss" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>
        </div>
    </body>
    <script src="/scripts/script.js"></script>
    
</html>