<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="index.html" class="current-page"> Home </a>  
            
                <a href="login.html"> Login/Register </a>  
           
                <a href="product.html"> Beers </a>  
            </nav>
        </header>
        <div class="main-container">
            <h2 class="title">Madsen Creek Brewery</h2>
        </div>
    </body>
    <script src="/scripts/script.js"></script>
    
</html>