<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="/views/index.html"> Home </a>  
            
                <a href="/views/login.html"> Login/Register </a>  
           
                <a href="/views/product.html"> Product </a>  
            </nav>
        </header>
        <div class="main-container">
            <h2>Home</h2>
        </div>
    </body>
    <script src="/scripts/script.js"></script>
    
</html>