<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Basic HTML Template</title>
        <link rel="stylesheet" href="/styles/main.css">
       
        <script src="../script.js"></script>
        <script src="../formValidation.js"></script> 
        <style>
            .hidden{
                display: none;
            }
        </style>
    </head>

    <body>
        <header>
            <nav class="navbar">
                <a href="/views/index.html"> Home </a>  
            
                <a href="/views/login.html"> Login/Register </a>  
           
                <a href="/views/product.html"> Product </a>  
            </nav>
        </header>
        <div class="main-container">
            <h2 class="title" id="login-title">Login/Register</h2>

            <select name="" id="toggle" onchange="toggle()">
                <option value="register">Register</option>
                <option value="login">Login</option>
            </select>

            <div id="register-container">
                <form action="login.html" name="register" onsubmit="return(validateRegister());" method="post" id="register-form" class="form">
                    <table cellspacing = "2" cellpadding = "2" border = "1">
                        <th>Register</th>
                        <tr>
                            <td><label for="fname">First Name</label></td>
                            <td><input type="text" id="fname" name="Fname"></td>
                        </tr>
                        <tr>
                            <td><label for="lname">Last Name</label></td>
                            <td><input type="text" id="lname" name="Lname"></td>
                        </tr>
                        <tr>
                            <td><label for="email">Email</label></td>
                            <td><input type="text" id="email" name="Email"></td>
                        </tr>
                        <tr>
                            <td><label for="pass">Password</label></td>
                            <td><input type="text" id="pass" name="Pass"></td>
                        </tr>
                        <td><input type = "submit" value = "Submit" /></td>
                    </table>
                </form>
            </div>

            <div id="login-container" class="hidden">
                <form action="login.html" name="login" method="post" id="login-form" >
                    <table cellspacing = "2" cellpadding = "2" border = "1">
                        <th>Login</th>
                        <tr>
                            <td><label for="email">Email</label></td>
                            <td><input type="text" id="email" required></td>
                        </tr>
                        <tr>
                            <td><label for="pass">Password</label></td>
                            <td><input type="text" id="pass" required></td>
                        </tr>
                        <td><input type = "submit" value = "Submit" /></td>
                    </table>
                </form>
            </div>

        </div>
   </body>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/formValidation.js"></script>
</html>