<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Basic HTML Template</title>
        <link rel="stylesheet" href="/styles/main.css">
        <script src="/product.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="/views/index.html"> Home </a>  
            
                <a href="/views/login.html"> Login/Register </a>  
           
                <a href="/views/product.html"> Product </a>  
            </nav>
        </header>
        <div class="main-container">
            <h2>Products</h2>

            <div id="beers" onclick="viewBeers()">
                View Beers
            </div>
        </div>
    </body>
    <script src="./scripts/script.js"></script>
</html>