<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Beers</title>
    <link rel="stylesheet" href="../styles/main.css">

</head>

<body onload="viewBeers()">
    <header>
        <nav class="navbar">
            <a href="index.html"> Home </a>

            <a href="login.html"> Login/Register </a>

            <a href="product.html" class="current-page"> Beers </a>
        </nav>
    </header>
    <div class="main-container">
        <h2 class="title">Our Beers</h2>
        <div class="container">
            <table id="beers" cellspacing="2" cellpadding="5" border="5">
            </div>

        </table>

    </div>
</body>
<script src="../product.js"></script>

</html>