<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Beers</title>
        <link rel="stylesheet" href="/styles/main.css">
        
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="/views/index.html"> Home </a>  
            
                <a href="/views/login.html"> Login/Register </a>  
           
                <a href="/views/product.html"> Product </a>  
            </nav>
        </header>
        <div class="main-container">
            <h2>Products</h2>

            <div  onclick="viewBeers()">View Beers</div>
            <table id="beers" cellspacing = "2" cellpadding = "2" border = "1">

            </table>

        </div>
    </body>
    <script src="../product.js"></script>
</html>